/*Table*/
.contact th {
    background-color: #4CAF50;
    color: white;
}
.contact th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.contact tr:nth-child(even) {background-color: #f2f2f2}
/*Testimonials*/
.imagecenter {
margin: 0 auto;
}
/*Slideshow*/
.carousel-caption{
background-color:rgba(0,0,0,0.5);
left: 0;
right: 0;
padding-top: 0;
}

/*Thumbnails*/
.thumbnail a{
text-decoration: none;
}

.thumbnail:hover{
background-color: rgba(0,0,0,0.1);
color: white;
}
/* Booking*/
#imagelist a {
position: relative;
display: inline-block;
}
#imagelist a p{
display: none;
}
#imagelist a:hover p{
position: absolute;
width: 100%;
height: 100%;
background: #000;
opacity: 0.6;
top: 0;
left: 0;
margin: 0;
display: block;
}
#imagelist a p span{
display: inline-table;
width: 100%;
height: 100%;
text-align: center;
color:#fff;
}
#imagelist a p span span{
display: table-cell;
vertical-align: middle;
font-family: Roboto;
font-size: 40px;
}
/* Description text */
.carousel-caption h1 {
font-family:    Roboto;
font-size:      20px;
color:          white !important;
}

.carousel-caption p {
font-family:    Roboto;
font-size:      15px;
color:          white !important;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Contact form */
.lu-contact-form input[type="text"], 
.lu-contact-form input[type="email"], 
.lu-contact-form textarea {
  background: rgba( 255,255,255,0.9 );
  border-radius: 0;
}
.lu-contact-form input[type="text"], 
.lu-contact-form input[type="email"] {
  padding: 10px 12px;
  height: 46px;
  font-size: 16px;
}
.lu-contact-form textarea {
	min-height: 168px;
}
.lu-contact-form .btn {
  border-radius: 0;
  font-family: 'Roboto';
  padding: 11px 40px 8px 40px;
  font-size: 18px;
}
.buttoncenter{
	text-align: center;
	margin-top: 15px;
}
/*Footer Style*/
.lu-footer {
  padding: 25px 0;
}
